* {
    margin: 0;
}

html, body {
    height: 100%;
}
body {
    background-image: url("assets/homie.jpg");
    padding: 0;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
}

.jumbotron {
    color: white;
    background: rgb(200, 54, 54);
    /* This is for ie8 and below */
    background: rgba(200, 54, 54, 0.3);
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.70);
}

#carousel-example-generic {
    margin-bottom: 50px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: 400px;
}



#nav {
    background: rgb(200, 54, 54);
    background: rgba(200, 54, 54, 0.3);
    height: 50px;
    width: 100%;
    margin: 0 auto;
    top: 0;
}

.navbar-brand {
    color: white;

}

.nav-link {
    color: white;
}

.link {
    border-right: 1px solid #595959;
    font-weight: 300;
    letter-spacing: .04em;
    line-height: 1;
    margin: 0 .4em 0 0;
    padding: 0 .3em 0 0;
    color: white;
}

#social-link {
    color: white;
}


 #overridepanel-heading {
    color: #eee;
    background-color: #2196F3;

}

.label {
    color: white;
}

#passColor {
    color: white;
}

#natural {
    background-color: rgba(72, 85, 99, 0.8);
}

.logout {
    margin-top: 15px;
    margin-bottom: 10px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    margin-top: 5px;
    margin-left: 10px;
    float: right;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220,53,69, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#container {
    height: 100%;
}

#contact {
    margin: center;
    background-color: #dc3545;  
}

.push {
    height: 142px; /* .push must be the same height as .footer */
}

footer {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0 !important ;
}

p {
    margin-bottom: 0 !important ;
}

table th {
    color: #ffffff !important;
}

.panel .panel-heading {
color: #ffffff !important;
}

footer {
    color: #ffffff;
}

#schoolTable {
    color: #ffffff;
}