#header-list li {
	list-style:none;
	display:inline;
}

body {
	background-image: url("assets/homie.jpg");
}

.jumbotron {
	color: white;
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.3); 
}


.carousel-caption {
    background: rgba(0, 0, 0, 0.70);
 
}


#carousel-example-generic {
    margin-bottom: 50px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
    height: 400px;
}